doctype html
html(lang='en')
  head
    include includes/head.pug
    style: include includes/post-critical.css
    link(rel='preload' href=manifest['post.css'] as='style' onload='this.onload=null;this.rel="stylesheet"')
    noscript: link(rel='stylesheet' href=manifest['post.css'])
    script: include includes/css-rel-preload.js
  body
    div.container
      header.header
        div.header-title: a(href='/')= config.title
        div.header-site-description= config.siteDescription
      include includes/nav.pug
      main.article
        h1= title
        | !{content}
      include includes/footer.pug
