doctype html
html.no-js(lang='en')
  head
    include includes/head.pug
    style: include includes/post-critical.css
    link(rel='preload' href=manifest['post.css'] as='style' onload='this.onload=null;this.rel="stylesheet"')
    noscript: link(rel='stylesheet' href=manifest['post.css'])
    script: include includes/enable-js-class.js
    script: include includes/css-rel-preload.js
  body
    div.container
      header.header
        div.header-title: a(href= config.url)= config.title
        div.header-site-description= config.siteDescription
      include includes/nav.pug
      main.article
        header
          h1= title
          time.article-date(datetime=dateFormat(date, 'YYYY-MM-DD') pubdate)= dateFormat(date, 'DD MMMM YYYY')
        | !{content}
      include includes/footer.pug

    script(src='https://cdnjs.cloudflare.com/ajax/libs/lazysizes/4.0.1/lazysizes.min.js' async)
    script(src=manifest['register-service-worker.js'] async)
