doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='description' content=config.siteDescription)
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title= title
    style
      include includes/posts-index-critical.css
    link(rel='preload' href=`${config.url}/assets/posts-index.css` as='style' onload='this.onload=null;this.rel="stylesheet"')
    noscript
      link(rel='stylesheet' href=`${config.url}/assets/posts-index.css`)
    script
      include includes/cssrelpreload.min.js
  body
    header.container.header
      h1.header-title
        a(href='/') Risan Bagja Pradana
      h2.header-subtitle Tutorials, coding practice, and software craftmanship

    nav.container.nav
      ul.nav-menu
        li.nav-menu-item
          a.btn(href='#') Home
        li.nav-menu-item
          a.btn(href='#') About
        li.nav-menu-item
          a.btn(href='#') Archive

    main.container.article-list
      each post in posts
        article.article
          a.article-link(href= post.url)
            div.article-img(style=`background-image: url("${post.featured_image_small || config.posts.defaultFeaturedImageSmall}")`)
            h2.article-title= post.title
            p.article-excerpt= post.excerpt

      if pagination.totalPages > 1
        nav.pagination
          if pagination.previousUrl
            a.pagination-link.btn.btn-md(href= pagination.previousUrl) &larr; Newer Posts
          if pagination.nextUrl
            a.pagination-link.btn.btn-md(href= pagination.nextUrl) Older Posts &rarr;

    footer.container.footer
      p.footer-license.
        Except where otherwise noted, content on this blog is licensed under a
        #[a(rel='license' href='https://creativecommons.org/licenses/by/4.0/') Creative Commons Attribution 4.0 International License].
      ul.footer-menu
        li.footer-menu-item
          a.footer-menu-link(title='Github' href='https://github.com/risan') Github
        li.footer-menu-item
          a.footer-menu-link(title='Stackoverflow' href='https://stackoverflow.com/users/5138222') Stackoverflow
        li.footer-menu-item
          a.footer-menu-link.medium(title='Medium' href='https://medium.com/risan') Medium
        li.footer-menu-item
          a.footer-menu-link.twitter(title='Twitter' href='https://twitter.com/risanbagja') Twitter
        li.footer-menu-item
          a.footer-menu-link.gmail(title='Email' href='mailto:risanbagja@gmail.com') Email
