doctype html
html(lang='en')
  head
    include includes/head.pug
    style: include includes/posts-index-critical.css
    link(rel='preload' href=manifest['posts-index.css'] as='style' onload='this.onload=null;this.rel="stylesheet"')
    noscript: link(rel='stylesheet' href=manifest['posts-index.css'])
    script: include includes/css-rel-preload.js
  body
    div.container
      header.header
        h1.header-title: a(href='/')= config.title
        h2.header-site-description= config.siteDescription
      include includes/nav.pug

      main.article-list
        each post in posts
          article.article
            a.article-link(href= post.url)
              div.article-img(style=`background-image: url("${post.featuredImageSmall || config.posts.defaultFeaturedImageSmall}")`)
              h2.article-title= post.title
              p.article-excerpt= post.excerpt

        if pagination.totalPages > 1
          nav.pagination
            if pagination.previousUrl
              a.pagination-link.btn(href= pagination.previousUrl) &larr; Newer Posts
            if pagination.nextUrl
              a.pagination-link.btn(href= pagination.nextUrl) Older Posts &rarr;

      include includes/footer.pug
